<html>
  <head>
    <title>Tetris</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="utf-8" http-equiv="encoding" />
    <style>
      body {
        text-align: center;
      }
      p {
        color: white;
        font-family: sans-serif;
        padding: 20;
        font-size: 20px;
      }
      html {
        background-color: black;
      }
    </style>
  </head>
  <body>
    <p id="score">Score:</p>
    <canvas
      id="canvas"
      width="420px"
      height="540px"
      style="background: rgb(0, 0, 0); margin: 20px;"
    ></canvas>
    <script src="script.js"></script>
  </body>
</html>
